[package]
name = "webthing"
version = "0.10.0"
authors = ["Mozilla IoT <iot@mozilla.com>"]
repository = "https://github.com/mozilla-iot/webthing-rust"
homepage = "https://github.com/mozilla-iot/webthing-rust"
license = "MPL-2.0"
readme = "README.md"
description = "Implementation of an HTTP Web Thing."

[dependencies]
actix = "0.7"
actix-net = "0.2"
actix-web = { version = "0.7", features=["alpn"] }
chrono = "0.4"
get_if_addrs = "0.5"
hostname = "0.1"
libmdns = "0.2"
openssl = "0.10"
serde_json = "1.0"
uuid = { version = "0.7", features = ["v4"] }
valico = "2.3"

[dev-dependencies]
env_logger = "0.6"
rand = "0.6"
